<div class="form-container">
  <h1><span class="light-text">“Hello</span> <span class="highlight">Interview</span>”</h1>
  <h2>SMART INTERVIEW PREP QUESTIONS</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label for="title">Job Title</label>
    <input id="title" formControlName="title" placeholder="e.g. Designer, Dev I" />

    <label for="company">Company</label>
    <input id="company" formControlName="company" placeholder="Company Name" />

    <label for="descriptionText">Job Description</label>
    <textarea id="descriptionText" formControlName="descriptionText" placeholder="Paste Here..."></textarea>

    <button type="submit" [disabled]="form.invalid">ENTER</button>
  </form>
</div>



  
