.form-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .light-text {
    color: #555;
  }
  
  .highlight {
    color: #0000aa;
    font-weight: bold;
  }
  
  h2 {
    color: #9c8fd9;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }
  
  label {
    color: #777;
    font-weight: 500;
    font-size: 0.95rem;
  }
  
  input,
  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
  }
  
  textarea {
    min-height: 100px;
  }
  
  button {
    padding: 12px;
    background-color: #7465d8;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #5c51c7;
  }
  
  